*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
        color: #333;
}

.section-1 {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 400px;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}

.section-1-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-1-info {
    align-self: center;
    text-align: justify;
}

.section-1-info h1 {
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 24px;
}

.section-1-info p {
    font-size: 1.5rem;
    margin-bottom: 24px;
}

.section-1-info button {
    background-color: #fb8c00;
    border: none;
    border-radius: 20px;
    font-weight: bolder;
    padding: 12px 24px;
    transition: 200ms;
}

button:hover {
    cursor: pointer;
    transition: 200ms;
    transform: scale(1.1);
}

button:active {
    transition: 100ms;
    transform: scale(0.9);
}

.section-2 {
    margin: 40px auto;
    text-align: center;
}

.section-2 h2 {
    font-size: 2.6rem;
    margin-bottom: 40px;
}

.section-2-grid {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas:
    "big big mid-1 mid-2"
    "big big mid-3 mid-4";
    gap: 20px;
    justify-content: center;
}

.section-2-grid .service {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: 1px solid #333;
}

.services-1 {
    grid-area: big;
}
.services-2 {
    grid-area: mid-1;
}
.services-3 {
    grid-area: mid-2;
}
.services-4 {
    grid-area: mid-3;
}
.services-5 {
    grid-area: mid-4;
}